body{
    font-family: 'Nunito Sans', sans-serif;
    overflow: auto;
    background-image: radial-gradient(circle, rgba(206, 19, 19, 0.637), rgba(255, 208, 0, 0.61), rgba(14, 155, 143, 0.582));
   
}
*{
    margin: 0px;
    padding: 0px;
}
.container{
    max-width:80vw;
}
.navBar{
    display: flex;
    height: 65px;
}
.navBar li{
    list-style: none;
    margin: 0 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
 
.topleft{
    width: 50%;
    padding: 20px 20px;
}

.topright{
    width: 50%;
    height: 50vh;
    object-fit: contain;
    padding: 20px 20px;
}

.my-1{
    margin-top: 13px;
    margin-bottom: 13px;
}

.px-2{
    padding-left:13px ;
    padding-right:13px ;
}

.my-2{
    margin-top: 26px;
    margin-bottom: 26px;
}

.px-1{
    padding-left:13px ;
    padding-right:13px ;
}
.section1{
    padding: 50px ;
}

.section2 {
    padding: 73px ;

}
.section2 h1{
    font-size: 2rem;
}

.box{
    margin: 12px 22px;
    min-width: 20vw;
    border: 2px solid black;
    text-align: center;
    padding: 8px 10px;
    border-radius: 5px;
}
.box ul{
    list-style-type: none;
}

.box ul li{
    margin: 12px 2px;
}
.box h2{
    font-size: 1.5em;
    padding: 10px;
    background-color: rgba(223, 175, 20, 0.699);
   background-size: contain;
    margin: 0;
}
.highlight{
    font-size: 1rem;
    font-weight: bolder;
    
}
.planetable{
    display: flex;
    justify-content: center;
    align-items:center ;
}
.section3 table{
    width: 100%;
    margin-bottom: 120px 0;
    margin-top: 40px;
    border-collapse: collapse;
}

.section3 table th{
    width: 23vw;
    border-bottom: 1.5px solid black;
    padding: 15px 0;
}
.section3 table td{
    border-bottom: 1.5px solid black;
}

.section3{
    padding: 73px ;
}
.section3 h1{
    font-size: 2rem;
}

footer{
    padding: 35px;
    text-align: center;
}


