.min-h-screen{
    min-height: 100vh;
}

.bg-red{
    background-color: red;
}

.mx-auto{
    margin-left:auto ;
    margin-right: auto;
}
.flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}
.item-center{
    align-items: center;

}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}
.bold{
    font-weight: 900;
    font-family: 'Gill Sans'sans-serif ;
    
}

.text-blue{
    color:rgba(4, 4, 54, 0.705);
}
.btn{
    padding: 4px 4px;
    border: 2px solid gray;
    color:black;
    background-color:darkgrays ;
    border-radius:6px ;
    cursor: pointer;
}

.text-center{
    text-align: center;
}
.fit{
    grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
}